<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>

        <link rel="stylesheet" href="{% static 'css/base.css' %}" />

        <title>Template Html</title>
        <!-- /|\ fix this -->
    </head>

    <body>
        <h1>this is a template for html.</h1>
        <p> {{exampleInput}} </p>

        <div>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>



        <img src="{% static 'images/ExampleImage.png' %}"  alt="Picture of cat" />
    </body>

</html>
